.nav {
  width: 100%;
  max-width: $max-width-3;
  height: 85px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 40px;
}

.nav__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  position: relative;
  height: auto;
  height: 70%;
  border-radius: $space-1;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 0;
    background: $teal;
  }
  @include trans_150;
  &:not(.no-hover) {
    &.active:not(.ph, .enquire),
    &:hover:not(.ph, .enquire) {
      &:after {
        @include trans_150;
        width: 100%;
      }
    }
  }
}

.nav__link {
  font-size: $font-size-1;
  font-weight: 600;
  color: $white;
  text-decoration: none;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  @include trans_150;
  border-radius: $space-1;
  &.ph {
    color: $lime;
    font-size: $font-size-2;
    &:hover {
      color: $lime;
    }
  }
  &.active:not(.ph, .enquire),
  &:hover:not(.ph, .enquire) {
    // background-color: $teal;
    // color: $navy;
    @include trans_150;
  }
}

.nav__divider {
  width: 2px;
  height: 46px;
  display: block;
  position: relative;
  background-color: $white;
}

.nav__dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  left: 0;
  right: 0;
  background-color: $teal;
  position: absolute;
  top: $space-7;
  padding: $space-5;
  &.show {
    @include trans_350;
    opacity: 1;
    visibility: visible;
  }

  &.hide {
    @include trans_350;
    opacity: 0;
    visibility: hidden;
  }
}

.nav__dropdown-inner {
  max-width: $max-width-3;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 1fr;
  justify-content: center;
}

.nav__dropdown-additional-list {
  border-left: 1px solid $navy;
  padding: 0 $space-6;
  display: flex;
  flex-direction: column;
  gap: $space-5;
  ul {
    display: flex;
    flex-direction: column;
    gap: $space-5;
  }
  li {
    list-style: none;
  }
}
