.testimonials {
  background-color: $navy;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space-5 0;
  padding-top: $space-7;
  @include respond-to(desktop-up) {
    padding-top: $space-5;
  }
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: $max-width-3;
  width: 100%;
  padding: 0;
  @include respond-to(tablet-up) {
    padding: $space-6 0;
  }
}

.testimonials__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space-3;
}

.testimonials__content-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $space-5;
  align-items: center;
  @include respond-to(tablet-up) {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
