.carousel {
  z-index: 1;
  width: 100%;
  &.vertical {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
