@import './fonts.scss';
@import './transitions.scss';
@import './theme.scss';
@import './sizes.scss';
@import './layout.scss';
@import './section.scss';
@import './typography.scss';
@import './cta/';
@import './card/';
@import './navCard/';
@import './pages/homepage.scss';
@import './global/header.scss';
@import './global/nav.scss';

html {
  background-color: var(--white);
  body {
    font-family: 'Poppins', sans-serif;
  }
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
