@import './breakpoints.scss';
@import './fonts.scss';
@import './transitions.scss';
@import './theme.scss';
@import './sizes.scss';
@import './layout.scss';
@import './richText.scss';
@import './section.scss';
@import './typography.scss';
@import './cta/';
@import './form/';
@import './card/';
@import './navCard/';
@import './carousel.scss';
@import './pages/aboutUs.scss';
@import './pages/recentWork.scss';
@import './pages/homepage.scss';
@import './global/footer.scss';
@import './global/contact.scss';
@import './global/testimonials.scss';
@import './global/header.scss';
@import './global/nav.scss';
@import './slickSliderOverides.scss';
@import './youTubePlayer.scss';

html {
  background-color: var(--white);
  body {
    font-family: 'Poppins', sans-serif;
  }
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}

.mobile-only {
  display: block;
  @include respond-to(tablet-up) {
    display: none;
  }
}
