.content-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: $max-width-3;
  z-index: 1;
  margin-top: $space-8;
  margin-bottom: $space-8;
  &.no-margin {
    margin: 0;
  }
}
