.nav-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  justify-content: space-around;
  border-radius: $space-2;
  width: 100%;
  padding: $space-5;
  border: 4px solid transparent;
  transition: all 0.05s ease;
  text-decoration: none;
  @include trans_150;
  &:hover {
    background-color: $white;
    @include trans_350;
  }
}

.nav-card__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0;
  flex-direction: row;
  list-style: none;
}
