.section {
  background-color: $bone;
  min-height: 100vh;
  padding: $space-5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  @include respond-to(desktop-up) {
    background-attachment: fixed;
    background-size: cover;
  }
  &.dark {
    background-color: $navy;
  }
}
.section__minimal-grid-feature {
  min-height: auto;
  background-color: $navy;
  color: $white;
}

.section__intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include respond-to(desktop-up) {
    align-items: flex-end;
    display: grid;
    grid-template-columns: 500px 1fr;
  }
}

.section__intro-hero {
  max-width: 500px;
  margin-bottom: $space-4;
}
.section__intro-words {
  display: flex;
  flex-direction: column;
  gap: $space-4;
  margin-bottom: $space-5;
}
.section-content {
  max-width: $max-width-3;
}
.section__logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  @include respond-to(desktop-up) {
    justify-content: flex-end;
  }
}
.section__logo-grid {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
  align-items: center;
  @include respond-to(desktop-up) {
    flex-direction: row;
  }
}

.section__logo-grid-item {
  list-style: none;
}

.section__minimal-grid-feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: $space-6 0;
  @include respond-to(tablet-up) {
    display: grid;
    grid-template-columns: 400px 1fr;
    // flex-direction: row;
  }
  .section__intro {
    width: 250px;
  }
}

.section__with-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section__about-us {
  justify-content: flex-start;
  min-height: auto;
}

.section__words-wrapper {
  width: 100%;
}

.section__minimal-grid-feature-cta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
