.slick-dots {
  li {
    display: inline-block;
    margin: 0 5px;
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 12px;
      height: 12px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: $light-blue;
      border-radius: 50%;
      &::before {
        content: none;
      }
    }
    &.slick-active button {
      width: 12px;
      height: 12px;
      background: $lime;
    }
  }
}

.slider-image {
  border-radius: 0;
  // border: 10px solid $navy;
  &.vertical {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    border: none;
  }
}

.slick-slide {
  opacity: 0;
  @include trans_350;
}

.slick-active {
  @include trans_350;
  opacity: 1;
}

.slick-arrow {
  display: none !important;
}

.slider-container {
  display: flex;
  flex-direction: column;
  gap: $space-5;
  width: 100%;
  &.vertical {
    z-index: 1;
    height: 100vh;
    width: 400px;
    right: 110px;
    display: flex;
    align-items: center;
  }
}

.slick-list {
  height: 600px;
}

.slick-dots {
  bottom: -55px;
}

.slide-wrapper {
  height: 600px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: $space-4;
  overflow: hidden;
  background-color: $navy;
  padding: $space-2;
  video {
    height: 100%;
  }
}

.slider-image,
.slider-video {
  border-radius: $space-2;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section__recent-work {
  .slider-image {
    height: auto;
    width: 50vw;
    object-fit: contain;
  }

  .slide-wrapper {
    padding: 0;
  }
}
