.heading-1 {
  font-size: $font-size-7;
  font-weight: 800;
  line-height: $line-height-7;
  @include respond-to(tablet-up) {
    font-size: $font-size-9;
    line-height: $line-height-9;
  }
  @include respond-to(desktop-up) {
    font-size: $font-size-10;
    line-height: $line-height-10;
  }
}
.heading-2 {
  font-weight: 800;
  font-size: $font-size-6;
  line-height: $font-size-6;
  @include respond-to(tablet-up) {
    font-size: $font-size-8;
    line-height: $font-size-8;
  }
  @include respond-to(desktop-up) {
    font-size: $font-size-9;
    line-height: $font-size-9;
  }
}

.heading-3 {
  font-size: $font-size-6;
  font-weight: 600;
  line-height: $line-height-7;
}

.heading-4 {
  font-weight: 500;
  font-size: $font-size-2;
  line-height: $line-height-3;
  @include respond-to(tablet-up) {
    font-size: $font-size-4;
    line-height: $line-height-5;
  }
  &.hero {
    color: $teal;
    strong {
      font-weight: 700;
      color: $white;
    }
  }
}

.heading-5 {
  font-size: $font-size-4;
  font-weight: 800;
  line-height: $line-height-5;
}

// Body

.paragraph {
  font-size: $font-size-1;
  font-weight: 400;
  line-height: $line-height-2;
}

.body-1 {
  font-size: $font-size-2;
  line-height: $line-height-1;
  font-weight: 400;

  @include respond-to(tablet-up) {
    font-size: $font-size-4;
    line-height: $line-height-3;
  }
}
.body-2 {
  font-size: $font-size-2;
  font-weight: 400;
  line-height: $line-height-2;
}

// Display

.display-1 {
  font-size: $font-size-3;
  line-height: $line-height-3;
  font-weight: 500;

  @include respond-to(tablet-up) {
    font-size: $font-size-4;
    line-height: $line-height-4;
  }
  @include respond-to(desktop-up) {
    font-size: $font-size-5;
    line-height: $line-height-5;
  }
}
.display-2 {
  font-size: $font-size-4;
  font-weight: 600;
  line-height: $line-height-2;
}
.display-3 {
  font-size: $font-size-2;
  font-weight: 500;
  line-height: $line-height-2;
}
.display-4 {
  font-size: $font-size-0;
  font-weight: 700;
  line-height: $line-height-2;
}
// COLORS
.color-white {
  color: $white;
}

.color-teal {
  color: $teal;
}
.color-navy {
  color: $navy;
}

.color-light-blue {
  color: $light-blue;
}

.weight-bold {
  font-weight: 700;
}

.weight-semi {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.small-print {
  font-size: 10px;
}

.style-italic {
  font-style: italic;
}

.text-centre {
  text-align: center;
}
